<!DOCTYPE html>
<html>
<body>
<head>
    <meta charset="utf-8">
    <meta charset="iso-8559-1"/>
    <meta name= "description" content="pagina de enseñanza"/>
    <meta name="keywords" content="html5,javascript,diseño web"/>
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/update.css">
   <title>Agregar</title>
</head>
 <h1 id="crear">Agregar Producto</h1>

<form action="/addPost" method="post">
<div class='flex-principal'>
<!------------------------------------------->
<div id="editorcentrall">
<!------------------------------------------>
<label for="nombre">Nombre</label>

<input class="input" type="text" autofocus name="nombre" placeholder="Nombre" />

<!------------------------------------------>

<label for="codigo">Codigo</label>

<input class="input" name="codigo" type="number" placeholder=" Codigo" />

<!--------------------------------------------->

<label for="precio">Precio</label>
<input class="input" type="number" name="precio" placeholder=" Precio">

<!----------------------------------------------------->
<label for="descripcion">Descripcion</label>
<input class="input h-auto" type="text" name="descripcion" placeholder=" Descripcion">

<!----------------------------------------------------->
<label for="calidad">Calidad</label>
<input class="input" type="text" name="calidad" placeholder=" Calidad">
<!----------------------------------------------------->
<label for="cantidad">Cantidad</label>
<input class="input" type="number" name="cantidad" placeholder=" Cantidad">
<!--------------------------------------------------->
<label for='categoria'>Categoria</label>
                        <select id='categoria' name='categoria' required>
            <option value="1">Categoria 1</option>
            <option value="2">Categoria 2</option>
            <option value="3">Categoria 3</option>
            <option value="4">Categoria 4</option>
            </select>
<!----------------------------------------------------->
</div>

<!------------------------------------------->
<div id="cancelar">
	<input class="actua" type="submit" value="Agregar" id="update">
    <input type="button" value="Cancelar" onclick="cancelar()"
    class="actua">
</div>

</div>
</form>
<script type="text/javascript">
    
    const cancelar=()=>{
     window.location.href='/productos';
    }
</script>
</body>
<%- include('footer') -%>
</html>
