<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>AddUsers</title>
	<style type="text/css">
@font-face{
          font-family: 'fuente2';
          src:url('/fuentes/The Bloody Butcher.ttf');
  }

	body{
background:-webkit-radial-gradient(center,circle,rgb(240, 240, 240),rgb(208, 232, 250));
}

		form{
			display:flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			border:1px solid black;
			width:40%;
			height: auto;
			margin:50px auto;
			padding:2rem;
			background:rgba(0,0,0,.6);
	
		}
		input{
			margin:.5rem;
			text-align: center;
		}
		h1{
			display:flex;
			justify-content: center;
			width:100%;
			font:3rem 'fuente2';
			padding:10px;
			color:black;
		}
		label{
		font-weight:bold;
		font-size:1.3rem;
		color:white;
		}
		#selectinput{
		margin-top:1rem;
		}
		#selectinput input{
		cursor:pointer;
		padding: .4rem;
		border-radius:5px;
		transition: all 1.5s;
		}
		#selectinput input:hover{
		transform: scale(1.2);
		}
		#selectinput input:nth-child(2){
		background:rgb(230, 63, 121);
		}
		#selectinput input:nth-child(1){
		background:rgb(0, 198, 0);
		}

		@media screen and (max-width:720px){
         input{
         	width:70%;
         }
		}

	</style>
</head>
<body>
	<h1>Add Users</h1>

	<form action="/addUser" method="post">
		<div>
		<label>Nombre</label>
		<input type="text" name="nombre">
		</div>
		
		<div>
		<label>apellido</label>
		<input type="text" name="apellido">	
		</div>

		<div>
		<label>cedula</label>
		<input type="number" name="cedula">	
		</div>

		<div>
		<label>Correo</label>
		<input type="email" name="correo">
		</div>

		
        <div>
        <label>Password</label>
		<input type="password" name="password">	
        </div>
		

		

		<div style='display:flex;' id='selectinput'>
			<input type="submit" value='agregar'>
			<input type="button" value='cancelar' onclick="volver()">
		</div>

	</form>
	<script type="text/javascript">
		function volver(){
			window.location.href='/usuarios';
		}
	</script>
</body>
</html>