
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/update.css">
</head>
<body>
<h1 id="eliminar">Eliminar Registro</h1>

<form action="/delete/<%=modelo.producto_id%>" method="post">
  <div class='flex-principal'>
    <%- include('editorcentral') -%>

    <div id="cancelar">

      <input class="actua" type="submit" value="Eliminar" id="eliminarRegistro">

      <input type="button" class='actua' value='Cancelar' onclick='volver()'>

    </div>
    
  </div>
</form>
<script type="text/javascript"> 
 const volver = ()=>{
  window.location.href='/productos';
 }
</script>
</body>
<%- include('footer') -%>
</html>




