
<!DOCTYPE html>
<html>
<%- include('header') -%>
<body>
  <header class="header">
    <div id='h1'>
      <img src="img/silla1.png" class="imgg">
      <h1 class='titulo'>Pagina Principal</h1>
    </div>
    <div class="header-wrap"></div>
  </header>

  <div class="title-divider">
    <div class="wrap">
      <h2>Informaciòn</h2>
    </div>
  </div>
  
  <section class="informacion">
    <p><span class="fl">U</span>na silla de escritorio es un mueble diseñado específicamente para proporcionar comodidad y soporte ergonómico durante las actividades relacionadas con el trabajo de escritorio. Está compuesta por varios elementos que contribuyen a su funcionalidad y utilidad.
    En resumen, una silla de escritorio es un mueble esencial en un entorno de trabajo que ofrece comodidad, soporte ergonómico y movilidad, lo que contribuye a una postura adecuada, mejora la productividad y previene problemas de salud relacionados con el trabajo sedentario.</p>
  </section>

  <div class="title-divider-2">
    <div class="wrap">
      <h2>CEO</h2>
    </div>
  </div>

  <section class="ceo">
    <div id='ContenedorImgNombre'>
      <img src="/img/user.png" class='img'>
      <div class="ceo-info">
        <p><b>Nombre:</b> Omar Pimentel</p>
        <p><b>C.I:</b> 28.050.922</p>
        <p><b>Sección:</b> 2</p> 
        <a href='/login' id='botonProductos'>
          <span>Administrador</span>
        </a>
      </div>
    </div>
  </section>

<%- include('footer') -%>    
</div>
</body>

</html>
