<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" type="text/css" href="/css/style.css">
   <title>DEAD-NOTE</title>
</head>

<body>

  <nav> 
    <ul class="menu-horizontal">
      <!----------------------------------------------------->
      <li class="li">
         <a href="#">Inicio</a>

         <ul class="menu-vertical">
            <li><a href="#">Portafolio</a></li>
            <li><a href="#">Recomendaciones</a></li>
            <li><a href="#">Mapa Interactivo</a></li>
            <li><a href="#">Acerca de Mi</a></li>
         </ul>

      </li>
      <!--------------------------------------------------->
      <li class="li"><!---->
         <a href="#">Cursos</a>

         <ul class="menu-vertical">
            <li><a href="#">Html</a></li>
            <li>
               <a href="#">Css</a>
               <ul class="submenu">
                  <li><a href="#">Transfor</a></li>
                  <li><a href="#">Traslate</a></li>
                  <li><a href="#">Rotate</a></li>
               </ul>
            </li>
            <li><a href="#">JavaScript</a></li>
         </ul>

      </li>
      <!--------------------------------------------------->
      <li class="li">
         <a href="#">Inscripcion</a>
         <ul class="menu-vertical">
            <li><a href="#">mensual</a></li>
            <li><a href="#">anual</a></li>
         </ul>
      </li>
      <!--------------------------------------------------->
      <li class="li">
         <a href="#">Contacto</a>
         <ul class="menu-vertical">
            <li><a href="#"  id="facebook">Facebook</a></li>
            <li><a href="#" id="instagram">Instagram</a></li>
            
               <li>
                  <div class="flex">
                  <a href="#" id="whatsapp">Whatsapp</a>
                  </div>
               </li>
         </ul>
      </li>
   <!------------------------------------------------->
    </ul>
  </nav>

<section>
   
   <h2>Omar Pimentel</h2>
   <p>Cedula: 28050922</p>
   <p>sección: 1</p>
 
</section>


</body>
</html>
